@model BookExercise.Models.GuestResponse*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h1>jkjm,ll, @Model.Name </h1>
</body>
</html>
