@model BookExercise.Models.GuestResponse
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h1>Thanks, @Model.Name </h1>
    @if (Model.WillAttend==true)
    {
        @:Dobro pojalovaty
    }
    else
    {
        @:Sorry
    }
    <p><a asp-action="ListResponses"> here</a> to see who is coming</p>
</body>
</html>
